#container {
    width: 1000px;
    height: 400px;
}
.head {
    width: 75px;
    height: 75px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    left: 45px;
}
.body {
    width: 50px;
    height: 70px;
    background-color: black;
    position: relative;
    left: 57px;
}
.leftarm {
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 85px;
    left: 45px;
    transform: rotate(60deg);
}
.leftarm1 {
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 110px;
    left: 40px;
    transform: rotate(-25deg);
}
.rightarm {
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 85px;
    left: 110px;
    transform: rotate(-30deg);
}
.rightarm1 {
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 90px;
    left: 131px;
    transform: rotate(52deg);
}
.lefthita {
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 152px;
    left: 70px;
}
.lefthita1 {
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 193px;
    left: 70px;
}
.righthita {
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 152px;
    left: 100px;
}
.righthita1 {
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 193px;
    left: 100px;
}
.move1 .leftarm {
    transform: rotate(40deg);
    left: 50px;
}
.move1 .leftarm1 {
    transform: rotate(-60deg);
    left: 49px;
}
.move1 .rightarm {
    transform: rotate(180deg);
    left: 78px;
}
.move1 .rightarm1 {
    transform: rotate(90deg);
    top: 105px;
    left: 120px;
}
.move1 .lefthita {
    transform: rotate(-35deg);
    left: 82px;
    top: 140px;
}
.move1 .lefthita1 {
    top: 175px;
    left: 92px;
}
.move1 .righthita {
    top: 153px;
    left: 100px;
    transform: rotate(180deg);
}
.move1 .righthita1 {
    top: 194px;
    left: 100px;
    transform: rotate(180deg);
}
.move2 .leftarm {
    top: 90px;
    left: 45px;
    transform: rotate(60deg);
}
.move2 .leftarm1 {
    top: 114px;
    left: 40px;
    transform: rotate(-25deg);
}
.move2 .rightarm {
    top: 90px;
    left: 110px;
    transform: rotate(-30deg);
}
.move2 .rightarm1 {
    top: 95px;
    left: 131px;
    transform: rotate(52deg);
}
.move2 .lefthita {
    top: 153px;
    left: 70px;
    transform: rotate(180deg);
}
.move2 .lefthita1 {
    top: 194px;
    left: 70px;
}
.move2 .righthita {
    transform: rotate(-35deg);
    left: 100px;
    top: 140px;
}
.move2 .righthita1 {
    top: 174px;
    left: 111px;
}

